<input type = "number" [(ngModel)]="localConfig.dps" #dps (ngModelChange)="onChange(dps.value)">Damage per second from one non-modified poison stack
<br/>
<input type = "number" [(ngModel)]="localConfig.aps" #aps (ngModelChange)="onChange(aps.value)">Attacks per second
<br/>
<input type = "number" [(ngModel)]="localConfig.durationModifier" #durationModifier (ngModelChange)="onChange(durationModifier.value)">Duration modifier(i.e. 0.15 for 15% increased duration)
<br/>
<input type="checkbox" [checked]="localConfig.hasNoxiousStrike" (change)="localConfig.hasNoxiousStrike = !localConfig.hasNoxiousStrike; onChange()" />Enable Noxious Strike bonus
<br/>
<input type="checkbox" [checked]="localConfig.hasGrowingAgony" (change)="localConfig.hasGrowingAgony = !localConfig.hasGrowingAgony; onChange()" />Enable Growing Agony bonus
<br/>
<input type = "number" [(ngModel)]="localConfig.durationInSeconds" #duration (ngModelChange)="onChange(duration.value)">Duration of non-stop attacking in seconds
<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width= "800" height= "450"
                 [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType">
                </canvas>
    </div>
  </div>
</div>
<br/>
