<input [(ngModel)]="localConfig.dps">DPS
<br/>
<input [(ngModel)]="localConfig.aps">APS
<br/>
<input [(ngModel)]="localConfig.hasNoxiousStrike">:has Noxious Strike?
<br/>
<input [(ngModel)]="localConfig.hasGrowingAgony">:has Growing Agony?
<br/>
<input [(ngModel)]="localConfig.durationInSeconds">duration in seconds
<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width= "800" height= "450"
                 [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType">
                </canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
     <button (click)="update()">Update</button>
  </div>
</div>
